
/* .navbar-example3{
    width: 40px;
}

.my-content {
    position: relative;
    height: 100vh;
    overflow-y: scroll;
} */


body {
    position: relative;
}

#sidebar-nav{
    position: sticky;
    top: 10px;
}

.navbar {
    position: sticky;
    top: 0px;
}